:root {
  --header-color: #cc0000;
  --font-family-default-latin: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default-latin);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid{
  max-width: 100%;
}

#header {
  position: fixed;
  width: 100%;
  /* top: 0; 
  z-index: 9999; */
  z-index: 1;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 80px;
}

#header .brand {
  display: flex;
  align-items: center;
  padding: 20px;
}

#header .brand .brand-name {
  color: var(--header-color);
  padding: 5px;
  font-weight: 600;
  font-family: var(--font-family-default-latin);
  font-size: 20px;
}

#header .header-links {
  padding: 20px;
  display: flex;
}
#header .header-links .menus {
  display: flex;
  padding-right: 20px;
}

#header .header-links .menus a {
  text-decoration: none;
  font-weight: 600;
  padding-left: 20px;
  font-family: var(--font-family-default-latin);
}

#header .header-links .op-links {
  padding-left: 20px;
}

#header .header-links .op-links .link {
  padding: 10px;
  border-radius: 24px;
}

#header .header-links .op-links .login {
  background-color: #e60023;
  color: #ffffff;
}

.header-links .signup {
  background-color: #e2e2e2;
}

section {
  /* height: 660px; */
  height: 100vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* section .active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
} */

section.gallery{
  background-color: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

section.gallery .gallery-title{
  text-align: center;
  padding-top:160px ;
  font-size: 60px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

section.gallery .gallery-title .sub {
  color: #c28b00;
}

section.gallery .slider-dots {
  display: flex;
  align-items : center;
}

section.gallery .slider-dots .sliderButton{
  display: inline-block;
  border-radius: 50px;
  background-color: #cc0000;
  height: 10px;
  margin: 6px;
  padding: 5px;
  border-style: none;
}

section.gallery .carousel-slides {
  width: 100%;
  margin-top: -160px;
}

section.gallery .carousel-slides .carousel-slide {
  width: 100%;
}

section.gallery .carousel-slides .carousel-slide .columns{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

section.gallery .carousel-slides .carousel-slide .column{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.gallery .carousel-slides .carousel-slide img{
  width:100%;
  height: auto;
  border-radius: 10px;
  aspect-ratio: 9/16;
  object-fit: cover;
}


section.gallery .carousel-slides .carousel-slide .column:nth-child(1){
 margin-top: 0px;
}
section.gallery .carousel-slides .carousel-slide .column:nth-child(2){
 margin-top: 160px;
}
section.gallery .carousel-slides .carousel-slide .column:nth-child(3){
 margin-top: 240px;
}

section.gallery .carousel-slides .carousel-slide .column:nth-child(4){
 margin-top: 320px;
}
section.gallery .carousel-slides .carousel-slide .column:nth-child(5){
 margin-top: 240px;
}
section.gallery .carousel-slides .carousel-slide .column:nth-child(6){
 margin-top: 160px;
}
section.gallery .carousel-slides .carousel-slide .column:nth-child(7){
 margin-top: 0px;
}


.gallery .gallery-footer{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 253, 146);
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

section.gallery .gallery-footer::after {
  content: ''; 
  position: absolute;
  top:-100px;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #fff, #0000);
}

.gallery-footer img {
  height: 12px;
  width: 12px;
  filter: invert(100);
}

section.searchIdea{ 
  background-color: rgb(255, 253, 146);
}

section.saveIdea {
  background-color: rgb(218, 255, 246);
}

section.tryIdea {
  background-color: rgb(255, 226, 235);
}

section.signup {
  background-color: #ffffff;
}

